/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f4f8; /* gris muy claro */
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Título */
h1 {
    text-align: center;
    color: #1a73e8; /* azul Google */
}

p {
    margin-top: 8px;  /* separa el p del título */
    text-align: center;
    color: #444;
}


/* Contenedor del formulario */
form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Etiquetas */
label {
    font-weight: bold;
    color: #333;
}

/* Input */
input {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Botón */
.miBoton {
    width: 100%;
    padding: 10px;
    background-color: #1a73e8; /* azul */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.miBoton:hover {
    background-color: #155bb5; /* azul más oscuro */
}

/* Mensaje de error */
#mensaje-error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* Resultados */
#resultado-fahrenheit,
#resultado-kelvin {
    background: white;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-weight: bold;
    color: #333;
}
